body{
font-family:Poppins, sans-serif;
margin:0;
background:#0f172a;
color:#e2e8f0;
}

.container{
max-width:900px;
margin:auto;
padding:40px 20px;
}

header{
text-align:center;
background:#020617;
padding:60px 20px;
border-bottom:1px solid #1e293b;
}

h1{
font-size:42px;
margin-bottom:10px;
}

.tagline{
font-size:18px;
color:#38bdf8;
}

h2{
color:#38bdf8;
margin-bottom:15px;
}

.about p{
line-height:1.7;
font-size:16px;
}

.skills{
display:flex;
gap:40px;
flex-wrap:wrap;
}

.skill-box{
flex:1;
min-width:250px;
background:#020617;
padding:25px;
border-radius:10px;
border:1px solid #1e293b;
}

ul{
padding-left:18px;
}

li{
margin-bottom:8px;
}

.contact{
text-align:center;
}

.email{
display:inline-block;
margin-top:10px;
font-size:18px;
text-decoration:none;
color:white;
background:#38bdf8;
padding:10px 20px;
border-radius:6px;
}

footer{
text-align:center;
padding:30px;
border-top:1px solid #1e293b;
margin-top:40px;
font-size:14px;
color:#94a3b8;
}
